<% content_for :javascripts do %>  
  <%= javascript_import_module_tag "users/users" %>  
<% end %>

<div class="ui container">
  <div class="ui fluid card">
      <div class="content">
          <h4 class="ui huge header horizontal">
            <img class="ui avatar image centered circular" src=<%= @user.image %> />
            <% if current_user.id == @user.id %>
              <button class="ui primary button circular right floated" id="profile">Edit profile</button>
            <% end %>
          </h4>
          <div class="header"><%= @user.nickname %></div>
          <div class="extra">
            @<%= @user.vid %>
          </div>
      </div>
  </div>
  
  <h2 class="ui header">Posts</h2>
  <% @posts.each do |post| %>
    <%= render "layouts/post", post: post %>
  <% end %>

  <a href=<%= root_url %>>
    <button class="ui primary button circular right floated">
      <i class="icon arrow left"></i>
      Back to Home
    </button>
  </a>
</div>

<div class="ui modal">
  <div class="header">
    Edit Profile
  </div>
  <div class="content">
    <%= form_with(model: @current_user, class: "ui form") do |f| %>
      <div class="field">
        <div class="form-group">
          <%= f.label :nickname, "Username" %>
          <%= f.text_field :nickname, placeholder: "Liselsia Cesarini" %>
        </div>

        <div class="ui hidden divider"></div>

        <div class="form-group">
          <%= f.label :vid, "UserID" %>
          <%= f.text_field :vid, placeholder: "abcde" %>
        </div>
      </div>
      <div class="ui right aligned container">
        <%= f.submit "Save", class: "ui button circular primary basic" %>
      </div>
    <% end %>
  </div>
</div>