<% if post.user %>
  <div class="ui fluid card">
    <div class="content">
      <h4 class="ui medium header horizontal">
        <a href=<%= "/#{post.user.vid}" %> class="item">
          <img class="ui avatar image centered circular" src=<%= post.user.image %> />
        </a>
        <%= post.user.nickname %>
      </h4>

      <% if post.reply? %>
        <a href=<%= "/#{post.user.vid}" %> >
          @<%= post.user.vid %>
        </a>
      <% end %>
      
      <a href=<%= "/posts/#{post.id}" %> class="description">
        <%= post.content %>
      </a>

      <div class="ui divider"></div>
      <div class="ui horizontal">
        <div class="meta">
          @<%= post.user.vid %>
          <%= post.created_at %>
          <% if post.user_id == current_user.id %> 
            <%= link_to "/posts/#{post.id}", class: "ui right floated", data: { turbo_method: :delete } do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          <% end %>
          <i class="fa-solid fa-reply"></i>
          <%= post.reply_posts.length %>
        </div>
      </div>
    </div>
  </div>
<% end %>